#Mel {
    width: 150px;
    height: 150px;
    border-radius:300px;
    border:1px #cecece solid;
    background:#f0f0f0;

}

#video {
    background:#000;
    width:100%;
    height:auto;
    margin-top:auto;
    border-radius: 15px;
}
